{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<body background="https://www.muralswallpaper.com/app/uploads/harmony-fade-ombre-wallpaper-design-plain.jpg">
    <div class="welcome">
        <p> Welcome to Fun Finder Boston!</p>
    </div>
    <div>
        <img class="image" src="https://strictlyboardrm.files.wordpress.com/2014/12/fun.gif" alt="fun ahead">
    </div>
    <div id="intro">
        <p> Are you a bored Bostonian? Have some free time and don't know what to do with it?</p><br>
        <p> Take our quick <a href = "/survey"> survey </a>  and we will suggest an activity for you to do that fits with your personality!</p><br>
        <p> For more fun, check out these <a href = "/events"> events </a> to see what's going on in Boston.</p>
    </div>
</body>
{% endblock %}

